<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Israel Martins</title>

        <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet prefetch" href="/views/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

    </head>
    <body>
            <article>
                <h1><%= post.title %></h1>
                <p><%= post.subtitle%></p>
                <%- md(post.body) %>
            </article>

        
    </body>
</html>